---
const target = '/es/dentimed/';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <link rel="canonical" href={target} />
    <title>DentiMed</title>
    <script is:inline>
      window.location.replace('/es/dentimed/');
    </script>
  </head>
  <body>
    <a href={target}>Ir a DentiMed</a>
  </body>
</html>
